<p style="color: green"><%= notice %></p>

<%= render @minotaur %>

<div>
  <%= link_to "Edit this minotaur", edit_minotaur_path(@minotaur) %> |
  <%= link_to "Back to minotaurs", minotaurs_path %>

  <%= button_to "Destroy this minotaur", @minotaur, method: :delete %>
</div>
